<ion-header>

  <ion-toolbar color="tertiary">
    <ion-title>Detalles Pedido</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="backButton()"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="user.rol=== 3" slot="end">
      <ion-button (click)="verMapa(orden)">
        <ion-icon icon-only ios="ios-map" md="md-map"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>|

<ion-content>


  <ion-card>
    <ion-card-header id="color_Gris" color="cabecera" no-padding>
      <ion-grid>
        <ion-row justify-content-around id="color_Gris">
          <ion-col col-8>Producto</ion-col>
          <ion-col col-4 id="precio">Precio</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <!-- desde aqui se repite -->
    <ion-list>
      <ion-grid>
        <ion-row justify-content-around *ngFor="let plato of platillos">
          <ion-col col-3>
            <img src="{{SERVER}}/images/{{plato.imagen}}" alt="producto">
          </ion-col>

          <ion-col col-4>
            {{plato.nombre}}
          </ion-col>

          <ion-col col-3>{{plato.precio}}$</ion-col>
        </ion-row>


        <!--INFORMACION PARA EL REPARTIDOR ADICIONAL QUE NO TIENE EN COMUN CON EL USUARIO-->

        <ion-note item-start margin-top>
          Direccion de entrega
        </ion-note>

        <ion-grid>
          <ion-row>
            <!-- si la metio manual -->
            <ion-col col-12 no-padding>
              <ion-item>
                <ion-label text-wraper>{{orden.direccion}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-grid>

        <ion-item *ngIf="user.rol != 3">
          <ion-label>Estado de Pedido</ion-label>
          <p text-right>{{ orden.fase }}</p>
        </ion-item>

        <ion-item *ngIf="user.rol == 3">
          <ion-label>Estado de Pedido</ion-label>
          <!-- Cambiar disabled cuando el repartidor pueda cambiar estado -->
          <ion-select [(ngModel)]="orden.estado" (ionChange)="cambiarEstado(orden.id, orden.estado)">
            <ion-select-option value="1">En espera</ion-select-option>
            <ion-select-option value="2">En Camino</ion-select-option>
            <ion-select-option value="3">Entregado</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-list *ngIf="user.rol != 3">
          <ion-item>
            <ion-label>Forma de pago</ion-label>
            <p text-right *ngIf="orden.formapago === 1">Efectivo</p>
            <p text-right *ngIf="orden.formapago === 2">Paypal</p>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="user.rol == 3">
          <ion-item>
            <ion-label>Forma de pago</ion-label>
            <ion-select [(ngModel)]="selecion" (ionChange)="cambiarPago(orden.id)">
              <div *ngFor="let metodo of formasPago">
                <ion-select-option *ngIf="metodo.id == orden.formapago" value="{{metodo.id}}" selected>
                  {{metodo.descripcion}}
                </ion-select-option>
                <ion-select-option *ngIf="metodo.id != orden.formapago" value="{{metodo.id}}">{{metodo.descripcion}}
                </ion-select-option>
              </div>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <a *ngIf="user.rol == 3" button
                href='https://wa.me/{{ orden.whatsapp }}?text=Hola!%20DemoApp%20te%20agradece%20tu%20compra,%20en%20un%20momento%20llego%20con%20tu%20pedido!'
                target="_top" item-left>
                <ion-icon name="logo-whatsapp"></ion-icon> a {{ orden.whatsapp }}
              </a>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <a *ngIf="user.rol == 3" item-right ion-button clear href="tel: {{ orden.whatsapp}} ">
                  <ion-icon name="call"></ion-icon>&nbsp;Llamar
                </a>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <ion-item>
                  <ion-button *ngIf="user.rol != 3" (click)="repetirOrden()">Repetir orden</ion-button>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-button *ngIf="orden.pagado == null && user.rol != 3" (click)="pagarOrden()">Pagar
                    orden</ion-button>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item> -->

        <ion-item *ngIf="canOrder == true">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-button (click)="cancelOrder()" color="danger" expand="full">Cancelar Orden</ion-button>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-grid>
    </ion-list>
  </ion-card>

  <ion-footer>



    <ion-row *ngIf="orden.factura == 1 && orden.formapago != 1" id="pie" text-right>
      <ion-col size="12">
        <p no-margin>Sub-Total: {{ orden.total - (orden.pagoespecial + orden.cargo + orden.iva)|
          number:'1.2-2'}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="orden.factura == 0 && orden.formapago !=1" id="pie" text-right>
      <ion-col size="12">
        <p no-margin>Sub-Total: {{ orden.total - (orden.pagoespecial + orden.cargo )|
          number:'1.2-2'}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="orden.factura == 0 && orden.formapago ==1" id="pie" text-right>
      <ion-col size="12">
        <p no-margin>Sub-Total: {{ orden.total - ( orden.cargo )|
          number:'1.2-2'}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="orden.factura == 1 && orden.formapago == 1" id="pie" text-right>
      <ion-col size="12">
        <p no-margin>Sub-Total: {{ orden.total - (orden.iva + orden.cargo) |
          number:'1.2-2' }}</p>
      </ion-col>
    </ion-row>
    <ion-row id="pie" text-right>
      <ion-col size="12">
        <p no-margin>Cargo a Domicilio: {{ orden.cargo |
          number:'1.2-2' }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="orden.factura == 1 " id="pie" text-right>
      <ion-col size="12">
        <p no-margin>Iva: ${{ orden.iva |
          number:'1.2-2'}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="orden.formapago != 1 " id="pie" text-right>
      <ion-col size="12">
        <p no-margin>Paypal: ${{ orden.pagoespecial |
          number:'1.2-2'}}</p>
      </ion-col>
    </ion-row>

    <ion-row id="pie" text-right>
      <ion-col size="12">
        <h4 step="0.00">Total: ${{orden.total |
          number:'1.2-2'}}</h4>
      </ion-col>


    </ion-row>

  </ion-footer>

</ion-content>