<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="continuarPedido()">
        Continuar Orden
      </ion-button>
    </ion-buttons>
    <ion-title> Tu pedido</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <div *ngFor="let pedido of listPedido">
      <h3>{{pedido.nombre}}</h3>
      <div id="pedido" class="bordes">
        <ion-grid>
          <ion-row justify-content-around>
            <ion-col size="8" col-8 id="text_Cantidad">Cantidad</ion-col>
            <ion-col size="4" col-4>Precio</ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <ion-row no-padding>
                <ion-col size="2">
                  <ion-button size="small" no-padding id="buton" color="primary" (click)="restar(pedido)">
                    <ion-icon slot="icon-only" name="md-remove" no-padding></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="8" no-padding no-margin>
                  <ion-input type="number" id="cantidad" (change)="onChangeTime(pedido)" [(ngModel)]="pedido.cantidad"
                    pattern="^[0-9]+">
                  </ion-input>
                </ion-col>
                <ion-col size="2">
                  <ion-button size="small" no-padding id="buton" color="primary" (click)="sumar(pedido)">
                    <ion-icon slot="icon-only" name="md-add" no-padding></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="4">
              <P id="precio">${{pedido.precio}}</P>
            </ion-col>
            <ion-col size="2">
              <ion-button (click)="eliminar(pedido)" size="small" color="danger" icon-start>
                <ion-icon slot="icon-only" name='trash'></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <!-- <ion-row text-right>
            <ion-col text-right>
              <ion-button (click)="eliminar(pedido)" size="small" color="danger" icon-start>
                <ion-icon slot="icon-only" name='trash'></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row> -->
        </ion-grid>
      </div>
    </div>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button expand="full" id="footer" (click)="continuarPedido()">
        Continuar Orden
      </ion-button>

    </ion-buttons>
    <ion-col text-right>
      <h4>SubTotal: ${{subTotal}}</h4>
    </ion-col>
  </ion-toolbar>
</ion-footer>