<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">

    <ion-tab-button tab="tracklist">
      <ion-icon name="locate"></ion-icon>
      <ion-label>Orden</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cat">
      <ion-icon name="eye"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button [disabled]="listPedido.length === 0" tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-badge *ngIf="listPedido.length > 0" color="danger" class="carrito-numero">{{listPedido.length }}
      </ion-badge>
      <ion-label>Orden</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="config">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Tu Cuenta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>