<app-header [titulo]="titulo"></app-header>

<ion-content padding>
  <div #mapElement class="map"></div>
  <ion-card>
    <ion-card-title>
      Sigue tu orden
    </ion-card-title>
    <ion-list>
      <ion-item>
        <ion-label> Distancia estimada</ion-label>
        <ion-text>
          <p>{{ kmText }}</p>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Tiempo estimado:</ion-label>
        <ion-text>
          <p>{{ timeArrive }} </p>
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-button expand="full" color="dark" (click)="ubicacion() ">Actualizar</ion-button>
</ion-content>