<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{producto.nombre }}</ion-title>
    <ion-buttons slot="end">
      <button [disabled]="listPedido.length === 0" icon-only color="royal" class="cart-button" (click)="pedido()">
        <ion-icon slot='icon-only' name='cart' is-active="false"></ion-icon>
        <ion-badge *ngIf="listPedido.length > 0" color="danger" class="carrito-numero">{{listPedido.length }}
        </ion-badge>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="{{SERVER}}/images/{{producto.imagen}}" alt="producto" />
      <ion-grid>
        <ion-row>
          <ion-col size="6">

            <img class="product-image" src="{{SERVER}}/images/{{producto.imagen2}}" alt="" />

          </ion-col>
          <ion-col size="6">

            <img class="product-image" src="{{SERVER}}/images/{{producto.imagen3}}" alt="" />

          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item-divider></ion-item-divider>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div class="ion-text-wrap ion-text-justify">
              <ion-text>{{ producto.descripcion }}</ion-text>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="ion-text-wrap ion-text-justify">
              <h3>Anuncios:</h3>
              <ion-text>{{ producto.avisos }}</ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item-divider></ion-item-divider>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-label color="dark">Incluir en el pedido </ion-label>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col size="3">
                <ion-button size="small" id="buton" color="primary" (click)="restar(pedido)">
                  <ion-icon slot="icon-only" name="md-remove" no-padding></ion-icon>
                </ion-button>
              </ion-col>

              <ion-col size="6">
                <ion-item class="forms">

                  <ion-input text-right [(ngModel)]="cantidad" type="number" min="1" pattern="^[0-9]+">
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="3">
                <ion-button size="small" id="buton" color="primary" (click)="sumar(pedido)">
                  <ion-icon slot="icon-only" name="md-add" no-padding></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="3" text-right>
            <ion-button [disabled]="cantidad === 0" (click)="agregar(producto)" size="small" color="danger" icon-start>
              <ion-icon slot="icon-only" name='cart'></ion-icon>
            </ion-button>
          </ion-col>


        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>