 .close-fake {
   --background: transparent;

   ion-icon {
     font-size: 2rem;
   }

   margin-top: 40px;
 }

 ion-content {
   --background: rgba(44, 39, 45, 0.84);
 }

 ion-slides {
   height: 80%;
 }