<ion-content fullscreen>

  <ion-item class="close-fake" lines="none" text-center>
    <ion-button (click)="close()" fill="clear" color="light">
      <ion-icon name="close" slot="start"></ion-icon>
      Volver
    </ion-button>


  </ion-item>

  <ion-slides [options]="sliderOpts" #slider>
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="http://sushiya-es.com//images/{{img}}" alt="">
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>