<app-header titulo="Actualizacion datos: {{ user.name }}"></app-header>


<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-icon color="letras" name="person"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="form.name"></ion-input>
    </ion-item>

    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="mail"></ion-icon>
      </ion-label>
      <ion-input type="email" [(ngModel)]="form.email"></ion-input>
    </ion-item>
    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="call"></ion-icon>
      </ion-label>
      <ion-input type="number" [(ngModel)]="form.telefono"></ion-input>
    </ion-item>
    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="logo-whatsapp"></ion-icon>
      </ion-label>
      <ion-input type="number" [(ngModel)]="form.whatsapp"></ion-input>
    </ion-item>
    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="bowtie"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="form.ruc"></ion-input>
    </ion-item>

    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="home"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="form.direccion" placeholder='{{ user.direccion }}'></ion-input>
    </ion-item>
  </ion-list>

  <div padding>
    <ion-button class=config-button type="submit" expand="full" color="tertiary" (click)="updateUser()" color="dark">
      Guardar y actualizar</ion-button>
  </div>

</ion-content>