<ion-header>

  <ion-toolbar color="dark">
    <ion-title>Datos</ion-title>
    <ion-buttons slot="end">

      <ion-button (click)="backModal()"> Regresar</ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="formgroup" (ngSubmit)="closeModal()">
    <ion-grid>
      <ion-row>
        <ion-col size="12" no-padding>
          <ion-item>
            <ion-input [(ngModel)]="user.name" formControlName="nombrefac" type="text"
              placeholder="Nombre para factura"></ion-input>
          </ion-item>
          <ion-item color="danger" *ngIf="nombrefac.hasError('required') && nombrefac.touched">
            <p text-wrap> Disculpa el nombre es requerido para la factura</p>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="user.direccion" formControlName="direccionfac" type="text"
              placeholder="Direccion para factura"></ion-input>
          </ion-item>
          <ion-item color="danger" *ngIf="direccionfac.hasError('required') && direccionfac.touched">
            <p text-wrap> Disculpa la direccion es requerido para la factura</p>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="user.email" formControlName="emailfac" type="email"
              placeholder="email para factura"></ion-input>
          </ion-item>
          <ion-item color="danger" *ngIf="emailfac.hasError('required') && emailfac.touched">
            <p text-wrap> Disculpa el correo es requerido para la factura</p>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="user.ruc" formControlName="rucfac" type="text"
              placeholder="RUC o Cedula para factura"></ion-input>
          </ion-item>
          <ion-item color="danger" *ngIf="rucfac.hasError('required') && rucfac.touched">
            <p text-wrap> Disculpa el RUC o Cedula es requerido para la factura</p>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="user.telefono" formControlName="telefonofac" type="phone"
              placeholder="Numero telefonico para factura"></ion-input>
          </ion-item>
          <ion-item color="danger" *ngIf="telefonofac.hasError('required') && telefonofac.touched">
            <p text-wrap> Disculpa el numero telefonico es requerido para la factura</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button expand="block" color="dark" type="submit" [disabled]="formgroup.invalid">
      Aceptar
    </ion-button>



  </form>


</ion-content>