<app-header [titulo]="titulo"></app-header>

<ion-content>

  <ion-list class="ion-text-wrap" no-lines>
    <ion-item-sliding *ngFor="let item of faq">
      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-text>
              {{ item.pregunta }}
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            <ion-text>{{ item.respuesta }}</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>