<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-button (click)="regresar()">Regresar </ion-button>
    </ion-buttons>
    <ion-title text-capitalize>{{ titulo }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="person"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="form.name" placeholder="Nombre"></ion-input>
    </ion-item>

    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="mail"></ion-icon>
      </ion-label>
      <ion-input type="email" [(ngModel)]="form.email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="lock"></ion-icon>
      </ion-label>
      <ion-input type="password" [(ngModel)]="form.password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="lock"></ion-icon>
      </ion-label>
      <ion-input type="password" [(ngModel)]="form.password2" placeholder="Repita la contraseña"></ion-input>
    </ion-item>

    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="call"></ion-icon>
      </ion-label>
      <ion-input type="number" [(ngModel)]="form.telefono" placeholder="Numero telefonico"></ion-input>
    </ion-item>

    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="logo-whatsapp"></ion-icon>
      </ion-label>
      <ion-input type="number" [(ngModel)]="form.whatsapp" placeholder="Ingrese numero para WhatsApp"></ion-input>
    </ion-item>

    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="home"></ion-icon>
      </ion-label>
      <ion-input type="text" [(ngModel)]="form.direccion" placeholder="Ingrese direccion para facturacion"></ion-input>
    </ion-item>

    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="bowtie"></ion-icon>
      </ion-label>
      <ion-input type="number" [(ngModel)]="form.ruc" placeholder="Ingrese numero de RUC"></ion-input>
    </ion-item>


  </ion-list>

  <ion-item lines="none" class="ion-wrap">
    <ion-checkbox name="acuerdo" color="dark" checked="false"></ion-checkbox>
    <ion-label class="ion-wrap label"><a button href="http://tramitalo.esy.es/web/aviso.html" target="_top" item-left
        ion-padding-start>
        <small>Estoy de acuerdo con los terminos y condiciones</small></a></ion-label>
  </ion-item>



  <ion-button class="botones" expand="block" type="submit" (click)="registrarse()" color="tertiary">Registrarse
  </ion-button>

</ion-content>