ion-content {

  --ion-background-color: #ffffff;




  /* background-image: radial-gradient(circle 902px at 10% 20%, rgba(18, 50, 90, 1) 0%, rgba(207, 199, 252, 1) 100.2%);
 */
}

ion-button {

  border-radius: 10px;
}

.item .item-input {
  background-color: transparent;
}

ion-input {
  border-radius: 10px;
  --background: transparent;
}

ion-label {
  background-color: transparent;
}

.label {
  padding-left: 4px;
}

.forms {

  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  border: 2px solid var(--ion-color-warning-shade);
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 5px;
  background-color: transparent;
  --background: transparent;


}