<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">

      <ion-button (click)="regresar()">Regresar </ion-button>
    </ion-buttons>
    <ion-title text-capitalize>{{ titulo }} </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>
      <ion-icon color="letras" name="mail"></ion-icon>
    </ion-label>
    <ion-input type="email" placeholder="Ingrese email"></ion-input>
  </ion-item>
  <div padding>
    <ion-button expand="block" type="submit" (click)="enviarContrasena()" color="tertiary">Enviar contraseña
    </ion-button>
  </div>
</ion-content>