<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <button [disabled]="listPedido.length === 0" icon-only color="royal" class="cart-button" (click)="pedido()">
        <ion-icon slot='icon-only' name='cart' is-active="false"></ion-icon>
        <ion-badge *ngIf="listPedido.length > 0" color="danger" class="carrito-numero">{{listPedido.length }}
        </ion-badge>
      </button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item *ngFor="let categoria of categorias" (click)="itemSelected(categoria) " detail>

      {{ categoria.nombre }} <ion-icon slot="end" name="ios-arrow-forward-outline">
      </ion-icon>
    </ion-item>
  </ion-list>



  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>