<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button [tab]="trackorder">
      <ion-icon name="md-car"></ion-icon>
      <ion-label>Mis Ordenes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="/">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="wallet">
      <ion-icon name="md-card"></ion-icon>
      <ion-label>Seguimineto</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="more">
      <ion-icon name="md-person"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>