<ion-content padding>

  <ion-item class="logo-container" lines="none" padding>
    <img class="logo" src="assets/imgs/logo_neufeld.png" alt="logo">
  </ion-item>

  <form #form="ngForm" (ngSubmit)="login(form)" method="post">

    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="mail"></ion-icon>
      </ion-label>
      <ion-input ngModel type="email" name="email" placeholder="Email" class="showhideinput"></ion-input>
    </ion-item>

    <ion-item class="forms">
      <ion-label>
        <ion-icon color="letras" name="lock"></ion-icon>
      </ion-label>
      <ion-input type={{type}} ngModel name="password" class="showhideinput" placeholder="Contraseña"></ion-input>
      <button id="boton_eye" (click)="ocultarMostrarPassword($event)" item-right>
        <ion-icon color="letras" name={{hideorshow}}></ion-icon>
      </button>
    </ion-item>


    <ion-button type="submit" expand="block" color="danger" mode='ios' size="large">Ingresar</ion-button>
  </form>
  <p text-center (click)="goToResetPassword()">Olvido su contraseña?</p>

  <ion-button class="register-button" expand="block" color="tertiary" (click)="createAccount()" size="large" mode='ios'>
    Registrarse
  </ion-button>

</ion-content>