ion-content {

  --ion-background-color: #ffffff;


  /* --background: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%); */

  /* background-image: radial-gradient(circle 902px at 10% 20%, rgba(18, 50, 90, 1) 0%, rgba(207, 199, 252, 1) 100.2%);
 */
}

ion-button {
  background-color: var(--ion-color-especial);
  border-radius: 10px;
}

.item .item-input {
  background-color: transparent;
}

ion-input {
  border-radius: 10px;
  --background: transparent;
}

ion-label {
  background-color: transparent;
}

.forms {

  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  border: 2px solid var(--ion-color-warning-shade);
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  background-color: transparent;
  --background: transparent;


}

#boton_eye {
  background: transparent;
  font-size: 20px;
}

.logo-container {
  --background: transparent;
}

.logo {
  padding-top: 2%;
  text-align: center;
  margin: auto;
  height: 100%;
  width: 50%;
  margin-bottom: 2%;
  --background: transparent;
}


#bn_Registro {
  float: right;
}

#boton_Iniciar {
  margin-top: 5%;
}