// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.my-custom-modal-css .modal-wrapper {
  --background: var(--ion-background-color, black);
  --height: 70%;
  --width: 70%;
  --border-radius: 4;

}

.paypal-button {
  --color: black
}

.person-text {
  white-space: pre-line !important;
}