<app-header [titulo]="titulo"></app-header>

<ion-content>
  <ion-card>
    <ion-list *ngFor="let orden of ordenes" lines="none">
      <!--  <ion-note slot="start">
        <ion-button size="small" (click)="cacadeteMapa(orden)">
          ver ruta
        </ion-button>
      </ion-note> -->
      <ion-item *ngIf="orden.estado == 5" (click)="rastrearOrden(orden)">
        <ion-icon name="cart" slot="start" color="primary"></ion-icon>
        <ion-label text-wrap> {{ orden.created_at|date:'shortDate' }}
          {{ orden.created_at|date:'shortTime' }}
        </ion-label>
        <ion-note slot="end" color="tertiary">
          En camino
        </ion-note>

      </ion-item>

    </ion-list>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>