<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button (click)="backButton()"></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>{{ titulo }}</ion-title>
    <ion-buttons slot="end">

      <button [disabled]="listPedido.length === 0" icon-only color="royal" (click)="pedido(listPedido)"
        class="cart-button">
        <ion-icon slot='icon-only' name='cart' is-active="false"></ion-icon>
        <ion-badge *ngIf="listPedido.length > 0" color="danger" class="carrito-numero">{{listPedido.length }}
        </ion-badge>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search" (ionInput)="onInput()" [(ngModel)]="myInput"></ion-searchbar>
  <ion-list lines="none">
    <ion-list text-wrap no-lines>
      <ion-item-sliding *ngFor="let plato of platillos">
        <ion-item *ngIf="subid == plato.subcategoria_id ">
          <ion-card>
            <ion-row>
              <ion-col class="col-product-img" size="12">
                <img class="card-product-img" src="{{SERVER}}/images/{{plato.imagen}}" alt="producto" />
              </ion-col>
              <ion-col size="12">
                <ion-card-content class="item text-wrap">
                  <ion-card-title class="card-title">
                    <ion-row col-8>
                      <h2 class="card-h2">Nombre: </h2>
                      <p>{{ plato.nombre }}</p>
                    </ion-row>
                    <ion-row col-8>
                      <h2 class="card-h2"> Precio: {{ plato.precio }}</h2>

                    </ion-row>

                  </ion-card-title>
                </ion-card-content>
              </ion-col>
              <ion-col size="12">
                <ion-row>

                </ion-row>
                <ion-row no-padding>
                  <!-- <ion-col text-left>
                    <ion-button color="dark" size="small" (click)="presentPopover($event, plato)">
                      Detalles
                    </ion-button>
                  </ion-col> -->
                  <ion-col text-right>
                    <ion-button (click)="producto(plato)" size="small" color="danger" icon-start>
                      <ion-icon slot="icon-only" name='eye'></ion-icon>
                    </ion-button>
                    <ion-button (click)="agregar(plato)" size="small" color="danger" icon-start>
                      <ion-icon slot="icon-only" name='cart'></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event) ">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>