<ion-menu side="start" menuId="first" contentId="principal">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title> Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let p of menuOpts | async">
        <ion-item [routerLink]="p.redirecTo">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>{{ p.name }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>