.map {
  width: 100%;
  height: 450px;
  opacity: 1;
  transition: opacity 150ms ease-in;
  display: block;

}

.address-text {
  text-align: center;
  font-size: 20px;
}

.watch-text {
  font-size: 18px;
}