<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button (click)="backOrden()"></ion-back-button>
    </ion-buttons>
    <ion-title> Rastrear orden: {{ orden.id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="map" class="map"></div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informacion de tu orden </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label> Distancia estimada</ion-label>
          <ion-text>
            <p>{{ kmText }}</p>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Tiempo estimado:</ion-label>
          <ion-text>
            <p>{{ timeArrive }} </p>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Cadete:</ion-label>
          <ion-text>
            <p>{{ cadete.name}} </p>
          </ion-text>
        </ion-item>
        <ion-item (click)="llamarCadete()">
          <ion-icon name="call" slot="start" color="primary"></ion-icon>
          <ion-label>Telefono:</ion-label>
          <ion-text>
            <p>{{ cadete.telefono}} </p>
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>



  <ion-button expand="full" color="dark" (click)="actualizar() ">Actualizar</ion-button>
</ion-content>